# python utils
sqlparse==0.5.0
pydantic==2.7.4
pydantic-settings==2.3.4

# python data handler
pandas==2.2.2

# ML
# torch==2.2.2
transformers==4.42.3
# accelerate==0.31.0

# LLM
openai==1.35.10
cohere==5.5.8

# web framwork
streamlit==1.36.0
streamlit-option-menu==0.3.13

# database
chromadb==0.5.3
psycopg2-binary==2.9.9
pgvector==0.3.0
asyncpg==0.29.0

# orm
sqlalchemy[asyncio]==2.0.31
