# python utils
sqlparse==0.5.1
pydantic==2.7.4
pydantic-settings==2.3.4

# python data handler
pandas==2.2.2

# ML
transformers==4.49.0

# LLM
openai==1.54.3

# database
psycopg2-binary==2.9.9
pgvector==0.3.6
asyncpg==0.29.0

# orm
sqlalchemy[asyncio]==2.0.38

# server
fastapi==0.115.8
temporalio==1.10.0
uvicorn[standard]==0.32.0